{{gen-image poster_path}}
{{original_title}}

<ul>
{{#each cast}}
	{{#if movies.length}}
		<li>
			{{gen-image profile_path}}{{name}} [{{character}}]
			{{#each movies}}
				{{#link-to 'movie' id tagName='li'}}
					{{id}}
					{{original_title}}
					{{log this}}
					{{gen-image poster_path}}
				{{/link-to}}
			{{/each}}
		</li>
	{{/if}}
{{/each}}
</ul>
